:host {
	display: flex;
	flex-direction: column;
	
	.row {
		display: flex;
		flex-direction: row;
		align-items: center;

		height: 50px;

		cursor: pointer;

		label {
			font-size: 0.8em;
			pointer-events: none;
		}

		.name {
			flex: 1 1 65%;
		}

		.leads, .revenue-leads, .rpl {
			flex: 1 1 15%;
		}

		&:hover {
			background: #ccc;
		}
		
		&[level='2'] {
			.name {
				label {
					padding-left: 2em;
				}
			}
		}
	}
}
